.card{
    width: 96.5vw;
    margin-left: .8rem;
    margin-top: .10rem;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%);
}

h3{
    font-weight: 600;
    
}

p{ 
    font-size: 1.1rem;
}

.slides-list{
    /*remove os estilos da lista*/
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    
    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }



@media only screen and (max-width: 600px) {
    .card{
        width: 58vw;
    }

    p{
        font-size: 1rem;
    }

}
