<table class="table table-hover table-striped m-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Café</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of cafe">
    <tr>
      <td data-title="ID">{{ item.id }}</td>
      <td data-title="Nome:">{{ item.nome }}</td>
      <td data-title="CPF:">{{ item.cpf }}</td>
      <td data-title="Café:">{{ item.cafe }}</td>
      <td>
        <a routerLink="/cafe/update/{{ item.id }}">
          <img src="https://cdn-icons.flaticon.com/png/512/3801/premium/3801984.png?token=exp=1641346948~hmac=e58f627c2e21c1dca2c603f9c33694e6" height="21rem" class="ms-2" alt="">
        </a>
        <a routerLink="/cafe/delete/{{ item.id }}">
          <img src="https://cdn-icons.flaticon.com/png/512/2550/premium/2550213.png?token=exp=1641346782~hmac=60346da9822493da103a473fc68ccd85" height="21rem" class="ms-2" alt="">
        </a>
      </td>
    </tr>
  </tbody>
</table>